@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --primary-color: #0074cc;
    --secondary-color: #138d75;
    --accent1-color: #ff8c00;
    --accent2-color: #8b4513;

    --heading-font: "Montserrat", serif;
    --paragraph-font: "Montserrat", serif;

    --nav-background-color: var(--accent1-color);
    --nav-link-color: #ffffff;
    --nav-hover-link-color: var(--primary-color);
    --nav-hover-background-color: var(--secondary-color);
}

body {
    max-width: 100%;
    padding: 50px;
}


header {
    margin: 1rem auto;
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 100%;
    justify-content: space-between;
}

header img {
    margin: 0 0.25rem 0 1rem;
	width: 150px;
	height: auto;
}

header nav {
	text-align: right;
}

header .navigation {
	display: flex;
	list-style: none;
}


.navigation a {
	display: block;
	color: navy;
	padding: 15px;
	text-decoration: none;
}
.sociallinks a {
    text-decoration: none;
}


.sociallinks a img {
    width: 40px;
    height: auto;
}

.hero {
    position: relative;
}

.hero .banner {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20%;
    color: #ffffff;
    background-color: rgba(19, 141, 117, .7);
    width: 100%;
    align-items: center;
    text-align: center;
    font-size: 50px;
    font-family: "Lato";
}

.hero article {
    position: absolute;
    background-color: rgba(19, 141, 117, .7);
    top: 50%;
    margin: 0 50px 0 50px;
    padding: 50px;

}

.hero article p {
    font-family: var(--paragraph-font);
    color: var(--nav-link-color)
}
.hero article img {
    float: right;
    width: 300px;
    padding: 10px;
}

h2 {
    color: var(--accent2-color);
}

section p {
    font-weight: bold;
    font-family: "Lato";
}

.mysection {
    width: 100%;
}

.mysection h2{
    display: flex;
    justify-content: center;
}
.pictures {
    display: flex;
    justify-content: space-around;
}

.pictures img {
    width: 200px;
    height: auto;
}

figcaption {
    display:flex;
    justify-content: center;
    font-family: "Lato";
    font-style: italic;
    margin-top: 2px;
    color: #666;
}

footer {
    display: grid;
    grid-template-columns: auto auto;
    /* align-items: center; */
}

footer p {
    text-align: right;
}

footer nav {
    text-align: right;
}


.history h2{
    display: flex;
    justify-content: center;
}

.form-contact {
    width: 600px;
    margin: 0 auto 60px;
}

fieldset {
    display: grid;
    border-radius: 3px;
    padding: 0;
    border: 0;
}
label {
    margin-bottom: 5px;
}
b {
    color:#033475;
}

input, select, textarea {
    min-width: 100%;
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

input[type="radio" i], input[type="checkbox"] {
    background-color: initial;
    display: table-cell;
    min-width: 0;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 0px 5px;
    padding: initial;
    border: initial;
}

.code {
    padding: 20px;
    margin: 15px 65px;
    color: #fff;
    font-size: 16px;
    background: #333;
}

textarea {
    min-width: 100%;
    max-width: 100%;
    resize: none;
}

.btn-contact {
    margin: 10px 0 15px;
    font-size: 18px;
    background: #0963d7;
    color: #FFF !important;
    border: none !important;
    border-radius: 3px !important;
    padding: 18px 25px;
    text-align: center;
    cursor: pointer;
}
.btn-contact:hover {
    background-color: #033475;
}